body {
	position: relative;
	height: 100%;
	font-family:'Raleway', sans-serif;
}

.boxy {
	border: solid black 2px;
	height: 95vh;
	margin: 20px 30px 20px 30px;
	padding: 15px;
}



#post1 {
	border-color: #FF5B37;
}

#post2 {
	border-color: #FFD3E0;
}

#post3 {
	border-color: #FFCD02;
}

#post4 {
	border-color: #5AC8FB;
}

#post5 {
	border-color: #C644FC;
}

.imagereview {
	
	height:68%;
	width: 100%;
	margin-bottom: 20px;
	clear: left;
}

.actualimage {
	max-width: 100%;
    height: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  	
}

.reviewtitle {
	font-family:'Raleway', sans-serif;
	font-weight: 100;
}

.actualreview {
	font-family:'Raleway', sans-serif;
	font-weight: 400;
	font-size: 9pt;
}
#openingtext {
	
	height:70%;
	width: 100%;
	margin-bottom: 20px;
	clear: left;
	padding:100px;
}
#mainword {
	font-size: 24pt;
	font-weight: 300;
	font-family:'Raleway', sans-serif;
}
#core {
	margin-left:20px;
	font-size: 20pt;
	font-weight: 500;
	font-family:'Raleway', sans-serif;
}

#menu {
	
	width: 100%;
	height: 15%;
	margin-bottom: 20px;
}

 #menu ul {
	list-style: none; 
	position: relative; 
	float: left; 
	display: block; 
	left: 50%; 

}
#menubar {
	padding-left: 0;
	margin-left: 0;
}


#menubar li {
  position: relative; 
  float: left; 
  display: block; 
  right: 50%;
  padding: 0;
  width: 80px;
  height: 80px;
  


}

.menubutton {
	border:solid black 2px;
	width: 75px;
  	height: 75px;
  	border-radius: 50%;
  	margin: 0 auto;

}

#buttonpost1{
	border-color: #FF5B37;
	background-color: #FF5B37;
}

#buttonpost2{
	border-color: #FFD3E0;
	background-color: #FFD3E0;
}

#buttonpost3{
	border-color: #FFCD02;
	background-color: #FFCD02;
}

#buttonpost4{
	border-color: #5AC8FB;
	background-color: #5AC8FB;
}

#buttonpost5{
	border-color: #C644FC;
	background-color: #C644FC;
}

.review {
	
	width: 80%;
	height:24%;
	clear: left;
	margin-right: auto;
	margin-left: auto;

}

.gobacktop {
	height: 40px;
	width: 40px;
	margin-left: auto;
}

.uparrow {
	width:100%;
    height: auto;
    margin-bottom: 10px;
}

.heart img {
	width:100%;
    height: auto;
}

@media (max-width: 750px) {
  .menubutton {
    width: 35px;
  	height: 35px;
  }
  #menubar li {
     width: 40px;
  	height: 40px;
  }
  
}



@media (max-width: 500px) {
  .actualreview {
  	font-size: 7pt;
  }

}

@media (min-width: 550px) and (max-width: 700px)  {
  #core {
  	font-size: 14pt;
  }

}

@media (max-width: 549px)  {
  #core {
  	font-size: 10pt;
  }

}

}

@media (min-width: 751px) {
  .actualreview {
  	font-size: 10pt;
  }

}

@media (max-height: 500px) {
  .boxy {
  	height: 90vh;
  }

}

/* For mobile : like samsung grand(480 * 800): */
@media screen and (max-width : 480px){
	.boxy {
  	height: 98vh;
  }
}


/* Phone 6*/
@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2){
	.boxy {
  	height: 98vh;
 	 }
  	#mainword {
	font-size: 36pt;
	
	}
	#core {

	font-size: 32pt;

	}

	.actualreview {
	font-size: 24pt;
	}
	.imagereview {
	
	height:50%;
	margin-top: 15px;
	}
} 
